svg {
  border: 5px solid black;
   background-color: #04101d;
   width: 70%;
   top: 0;
}

#Joshardy {
  display: flex;
  align-content: space-between;
  top: 0;
  left: 0;
  position: absolute;
}

.question-container {
  width: 70%;
  height: 100vh;
  background-color: #04101d;
  display: flex;
  align-items: stretch;
}

.cat-container {
  display: inline;
  width: 100%;
  align-items: baseline;
}

.interior-button {
  width: 90%;
  height: 14%;
  margin: 10px 0;
  background-color: #2434BD;
  border: 0;
}

.question {
  font-family: Impact;
  font-size: 50px;
  color: #E8B71A;
  text-shadow: 1px 1px #ff7f39;
}

.cat-label {
  font-family: Gadugi;
  font-size: 30px;
  color: #fff;
  padding: 15px;
}

.question:hover {
  background-color: #256b9e;
  border: 1px solid white;
}


.show-question-container {
  width: 70%;
  height: 100vh;
  background-color: #2434BD;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.question-text {
  color : #fff;
  flex-grow: 0.9;                   /* NEED TO FIX THIS. ALSO NOTE THAT A ROUND @ BUTTON CAN DO A this.round1cats = this.round2cats; and this.questions=round2questions call */
}

.answer-text {
  color : #fff;
  /*flex-grow: 0.9;*/
}

.q-button {
  display: inline;
  width: 20%;
  height: 10%;
  color: #fff;
  margin: 0 10px;
  border: 2px solid black;
  font-weight: bold;
}

.question-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.q-correct {
  background-color: #1bc504;
}

.q-incorrect {
  background-color: #ff0c1e;
}

.show-answer {
  color: black;
}



.left-team-container {
  float: left;
  width: 15%;
  height: 100vh;
}

.left-team-container img {
  float: left;
  width: 45%;
  margin: 5px;
}



.left-changes-container {
  position: relative;
  vertical-align: bottom;
  display: inline-block;
  padding-top: 42%;
  margin: 0 auto;
}



 .right-team-container {
   float: right;
   width: 15%;
   height: 100vh;
 }

 .right-team-container img {
   float: right;
   width: 45%;
   margin: 5px;
 }

.right-image-container {
  padding-bottom: 100%;
}

 .right-changes-container {
   position: relative;
   vertical-align: bottom;
   display: inline-block;

   margin: 0 auto;
 }

 .category-label {
   vertical-align: center;
 }




 h2 {
   font-size: 55px;
   margin: 2%;
   color: black;
   font-family: 'Gadugi', Arial, serif;
 }

 h3 {
   font-size: 70px;
   color: white;
   margin: 2%;
   font-family: 'Gadugi', Arial, serif;
 }

 h4 {
   color: black;
   font-family: 'Gadugi', Arial, serif;
 }
