svg {
  border: 5px solid black;
   background-color: #04101d;
   width: 70%;
   top: 0;
}

.category {
  fill: #2434BD;
  width: 15%;
 }

.question:hover {
  fill: #256b9e;
  stroke: white;
}

#left-team-container {
  background-color: #1c98ff;
  float: left;
  width: 14%;
  padding-bottom: 2%;
}

#left-team-container img {
  float: left;
  width: 45%;
  margin: 5px;
}

#left-image-container {
  padding-bottom: 100%;
}

#left-changes-container {
  position: relative;
  vertical-align: bottom;
  display: inline-block;
  padding-top: 42%;
  margin: 0 auto;
}



 #right-team-container {
   background-color: #137a2d;
   float: right;
   width: 14%;
   padding-bottom: 2%;
 }

 #right-team-container img {
   float: right;
   width: 45%;
   margin: 5px;
 }

#right-image-container {
  padding-bottom: 100%;
}

 #right-changes-container {
   position: relative;
   vertical-align: bottom;
   display: inline-block;
   padding-top: 32%;
   margin: 0 auto;
 }

 .category-label {
   vertical-align: center;
 }




 h2 {
   font-size: 55px;
   margin: 2%;
   color: black;
   font-family: 'Gadugi', Arial, serif;
 }

 h3 {
   font-size: 70px;
   color: white;
   margin: 2%;
   font-family: 'Gadugi', Arial, serif;
 }

 h4 {
   color: black;
   font-family: 'Gadugi', Arial, serif;
 }
